snippet html5
	<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<title>${1:title}</title>
			<link rel="stylesheet" href="style/style.css" type="text/css">
			<script src="script/script.js" charset="utf-8"></script>
			${2:meta}
		</head>
		<body>
			${0:body}
		</body>
	</html>
snippet scriptsrc
	<script src="${0}.js" charset="utf-8"></script>
